.create-event-page {
max-width: 1000px;
margin: 0 auto;
padding: 40px;
background-color: #fff;
font-family: 'Inter', sans-serif;
}

.back-btn {
  background-color: #ea942c;
  color: #fff;
  padding: 10px 15px;
  font-weight: 600;
  border: 2px solid #ea942c;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.back-btn:hover {
  background-color: #fff;
  color: #ea942c;
}

.form-container {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(25, 33, 61, 0.08);
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.two-column-row {
  display: flex;
  gap: 1rem;
}

.form-left,
.form-right {
  flex: 1;
}

.input-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  height: 100px;
  resize: none;
}

.visibility-control {
  margin-bottom: 1rem;
}

.submit-btn {
  background-color: #ea942c;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d17f1c;
}