.vertical-card {
    position: relative;
    display: flex;
    max-width: 100%;
    height: 500px;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    overflow: hidden;
    justify-content: space-between;
}

.vertical-card-button {
    background-color: #493CAE;
    border-radius: 50%;
    border: none;
    padding: 10px;
    position: absolute;
    z-index: 1;
    align-self: flex-end;
    top: 43%;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vertical-card-button:hover {
    background-color: #3a2b8c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.vertical-card-content {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vertical-card-image {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.vertical-card-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 190px;
    overflow: hidden;
}

.vertical-card-title {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 5px;
}
.vertical-card-provider {
    font-size: 1.1rem;
    font-weight: 600;
}
.vertical-card-description {
    font-size: 1.1rem;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical-card-footer {
    background-color: #f9f9f9;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top: 1px solid #ccc;
}

.vertical-card-signed {
    font-size: 1rem;
    color: #666;
    flex: 1;
    display: flex;
    align-items: flex-end;
}
.vertical-card-tab {
    position: relative;
    padding: 5px 12px;
    border-radius: 25px;
    border: none;
    color: #585966;
    background-color:rgb(241, 239, 239);
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.vertical-card-tabs {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
}