.crossed-out-date {
    text-decoration: line-through;
    color: #ccc;
  }

.Mui-selected {
background-color: #5a48fa !important;
color: #fff !important;
}

.Mui-selected:hover {
background-color: #4834d4 !important; /* Optional: darker hover shade */
}