/* =========================== */
/* BULLETIN PAGE STYLES */
/* =========================== */
.bulletin-content {
  padding-top: 60px;
  width: 100%;
  max-width: 1600px;
  margin: 0;

}
/* Header section for Bulletin page */
.events-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
}

/* Title Styling */
.text-2xl {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Search Bar layout */
.filter-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-options {
  display: flex;
  gap: 10px;
}

/* Button Style for "Create New Post" */
.events-header-btn {
  background-color: #EA942C; /* Original orange color for the button */
  color: #fff;
  padding: 11px 19px;
  font-weight: 600;
  border: 3px solid #EA942C; /* Matching border style */
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(25, 33, 61, 0.08);
  transition: background-color 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-header-btn:hover {
  background-color: #fff; /* White on hover */
  color: #EA942C; /* Orange text on hover */
}

.events-header-btn svg {
  margin-right: 8px; /* Space between icon and text */
}

/* Cards Layout */
.bulletin-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

/* Individual Card */
.card {
  width: 320px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Tags */
.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tag {
  background-color: #6C5ED8;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
}
