/* Services.css */
.service-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
}
.service-header h1 {
    font-size: 24px;
    color: #333;
}
.service-header p {
    font-size: 16px;
    color: #666;
}
.service-header-btn {
    background-color: #EA942C;
    color: #fff;
    padding: 11px 19px;
    font-weight: 600;
    border: 3px solid #EA942C;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(25, 33, 61, 0.08);
    transition: background-color 0.2s ease;
    cursor: pointer;
  }

.service-header-btn:hover {
  background-color: #fff;
  color: #EA942C;
}

/* Styling for Create New Service button */
.create-service-btn {
    background-color: #493CAE;
    color: white;
    padding: 14px 22px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(25,33,61,0.08);
    transition: background-color 0.2s ease;
    margin-bottom: 20px;
  }
  
  .create-service-btn:hover {
    background-color: #3e3191;
  }
  
  .services-container {
    padding: 1rem;
  }
  
  .services-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  