.petition-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.petition-header h1 {
    font-size: 24px;
    color: #333;
}
.petition-header p {
    font-size: 16px;
    color: #666;
}
.petition-header-btn {
    background-color: #493CAE;
    color: white;
    padding: 14px 22px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(25, 33, 61, 0.08);
    transition: background-color 0.2s ease;
    cursor: pointer;
  }

.petition-header-btn:hover {
background-color: #3e3191;
}
.petition-divider {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: #cfcfcf;
}
.petition-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* CREATE PETITION */
.create-petition-page {
  width: 100%;
  margin: 0;
  padding: 40px;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

.back-btn {
  color: #493CAE;
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.input-label {
  font-weight: 600;
  font-size: 14px;
  color: #6D758F;
  margin-top: 20px;
  margin-bottom: 6px;
}

.input,
.textarea {
  background: #FFFFFF;
  border: 1px solid #F1F3F7;
  box-shadow: 0px 1px 4px rgba(25, 33, 61, 0.08);
  border-radius: 6px;
  padding: 12px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.textarea {
  resize: vertical;
  min-height: 80px;
}

.submit-btn {
  margin-top: 30px;
  background-color: #493CAE;
  color: #fff;
  border: none;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.submit-btn:hover {
  background-color: #3b2e94;
}

  